{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>contact</title>
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body>
    <div class="contactUs">
        <div class="box">

             <!-- form box-->
            <div class="contact form">
                <h3>Send a Message</h3>
            
            <form>
                <div class="formBox">
                    <div class="row50">
                        <div class="inputBox">
                            <span>First Name</span>
                            <input type="text" placeholder="">
                        </div>
                        <div class="inputBox">
                            <span>Email</span>
                            <input type="text" placeholder="">
                        </div>
                        
                    </div>
                    <div class="row100">
                       
                        <div class="inputBox">
                            <span>Subject</span>
                            <input type="text" placeholder="">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBox">
                            <span>Message</span>
                            <textarea  name="message" rows="5" placeholder="Write your Message here.." required></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBox">
                           <input type="submit" value="Send">
                        </div>
                    </div>

                </div>
            </form>
            </div>



            <!-- info box-->
            <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div>
                        <span><ion-icon name="location"></ion-icon></span>
                        <p>Kottayam,kerala NY 535022, India</p>
                    </div>
                    <div>
                        <span><ion-icon name="mail"></ion-icon></span>
                        <a href="mailto:jkmoshotokan@gmail.com">jkmoshotokan@gmail.com</a>
                    </div>
                    <div>
                        <span><ion-icon name="call"></ion-icon></span>
                        <a href="tel:+919676567234">+91 9676 5672 34</a>
                    </div>
                    <!-- social media links-->
                    <ul class="sci">
                        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>

                    </ul>
                    
                </div>
            </div>

             <!-- map box-->
            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503339.6948399871!2d76.33287412767041!3d9.737123841704818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07d1921805c70d%3A0xafda8ece7b45e5e8!2sKottayam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1655813533696!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>


<div class="row contact-info">
    <div class="col-6-lg">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="bi bi-geo-alt"></i>
          <h3>Address</h3>
          <address>ban , NY 535022, India</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="bi bi-phone"></i>
          <h3>Phone Number</h3>
          <p><a href="tel:+919676567234">+91 9676 5672 34</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="bi bi-envelope"></i>
          <h3>Email</h3>
          <p><a href="mailto:jkmoshotokan@gmail.com">jkmoshotokan@gmail.com</a></p>
        </div>
      </div>

     
        <form action="#" method="post" role="form" class="php-email-form" id="form">
          {% csrf_token %}

          <div class="row">

            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>

          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div>
              <h6 style="color:green">{{message}}</h6> 
            </div>  
          </div>
          
          <div class="text-center"><button type="submit" id="mailsend">Send Message</button></div>
        </form>
    </div>

