{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JSA INDIA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'img/logo2.png' %}" rel="icon">
  <link href="{% static 'img/logo2.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="{% static 'css/register.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #registerform .logor{
      text-align: center;
    }
    #registerform .logor img{
        width: 14vh;
        height: 14vh;
    }
  </style>
  
</head>

<body style="background:linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100%);">

    

<br><br>
<section id="registerform">
    <div class="container">
        <div class="logor">
            <img src="{% static 'img/logo2.png' %}" alt="" class="img-fluid">
        </div>
        
        <header>Student Registration Form</header>

        <form action="{% url 'register_member' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form first">
                <div class="details personal">

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" name="rname"placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Brith</label>
                            <input type="date" name="rdb" placeholder="Enter date of brith" required>
                        </div>
                        <div class="input-field">
                            <label>Blood Group</label>
                            <select name="rbg">
                                <option value="A+">A+</option>
                                <option value="B+">B+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select name="rg">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" name="rn" placeholder="Enter your nationality" required>
                        </div>
                        <div class="input-field">
                            <label>Qualification</label>
                            <input type="text"name="rq" placeholder="Enter your qualification" required>
                        </div>
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" name="ro" placeholder="Enter your occupation" required>
                        </div>
                        <div class="input-field">
                            <label>Date of joing</label>
                            <input type="date"name="rdj"placeholder="Date of join" required>
                        </div>
                        <div class="input-field">
                            <label>Phone Number</label>
                            <input type="text" name="phno" placeholder="Phone number" required>
                        </div>
                        <div class="input-field">
                            <label>Email id</label>
                            <input type="email" name="mail" placeholder="Enter your email id" required>
                        </div>
                        <div class="input-field">
                            <label>Name of Parent/Guardian</label>
                            <input type="text"name="pg" placeholder="Enter Name of Parent/Guardian" required>
                        </div>
                        <div class="input-field">
                            <label>Parent Occupation</label>
                            <input type="text" name="po" placeholder="Enter Parent Occupation" required>
                        </div>
                        <div class="input-field">
                            <label>Permanent Address</label>
                            <textarea name="pa" placeholder="" required row="5"></textarea>
                        </div>
                        <div class="input-field">
                            <label>Reason for joining & Learning</label>
                            <input type="text" name="reson" placeholder="Enter Reason for joining & Learning" required>
                        </div>
                        
                        <div class="input-field">
                            <label>Do you have any Martial Arts Experience</label> 
                            <select name="exp">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Have the Applicant undergone any Operation ?</label>
                            <select name="ho">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </div>
                        <div class="alert alert-warning" role="alert" style="font-size:13px ;">
                           Note: If above any Option is ' Yes ' bring the certificate copy
                        </div>
                        <div class="input-field">
                            <label>Chose an Image(.png or jpeg)</label>
                            <input type="file" accept="image/regcheck" style="padding:8px;" id="file" name="imgs" onchange="previewImage();">
                        </div>
                        <div class="input-field text-end">
                            <h6><b>Admission Fee 1000/-</b><span><p></p><p>Monthly Fee 400/-</span></p></h6>
                        </div>
                        <div  class="input-field">
                            <img id="preview" class="img-fluid" style="width:20vh;">
                        </div>
                       
                        <button type="submit" class="savebtn">Submit</button>
                        <button><a href="{% url 'load_home_page' %}" class="savebtn">Cancel</a></button>
                    
                    </div>
                </div>
            </div>
            <script>
                function previewImage(){
                    var file=document.getElementById("file").files;
                    if (file.length > 0){
                        var fileReader= new FileReader();
                            fileReader.onload = function (event){
                                document.getElementById("preview").setAttribute("src",event.target.result);
                            };
                        fileReader.readAsDataURL(file[0]);
                    }
                }
            </script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% for msg in message %}
  <script>
      swal("Successfully Registered.");
  </script>
  {% endfor %}
            
        </form>
    </div>
</section>

</body>
</html>
