<form action="{% url 'sending_mail' %}" method="" id="form">
  {% csrf_token %}
      <div class="formBox">
          <div class="row50">
              <div class="inputBox form-group ">
                  <span>Full Name</span>
                  <input type="text" placeholder=""required>
              </div>
              <div class="inputBox form-group ">
                  <span>Email</span>
                  <input type="text" placeholder=""  id="email" required>
              </div>
              
          </div>
          <div class="row100">
             
              <div class="inputBox form-group" >
                  <span>Subject</span>
                  <input type="text" placeholder=""required>
              </div>
          </div>
          <div class="row100">
              <div class="inputBox form-group ">
                  <span>Message</span>
                  <textarea  name="message" rows="5" placeholder="Write your Message here.." required></textarea>
              </div>
          </div>
          <div class="row100 form-group ">
              <div class="inputBox">
                 <button type="submit" value="Send"id="mailsend">Send</button>
              </div>
          </div>
          <div class="m-3">
            <div>
              <h6 style="color:green">{{message}}</h6> 
            </div>  
          </div>

      </div>
  </form>